.form-container {
    width: 250px;
    max-width: 300px;
    margin: 1 rem;
    padding: 2rem;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    opacity: 70;
  }

  .form-container h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
  }


  .form-container input[type="text"],
  .form-container input[type="password"] {
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-container button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #7ad2eb;
    color: whitesmoke;
    border: 2px;
    border-radius: 4px;
    cursor: pointer;
    opacity: 90;
  }

  .form-container p.error-message {
    color: #ff0000;
    font-size: 19px;
    text-align: center;
  }